.projContainer {
  
    width: 65%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.projBox {
    background:rgb(32,33,36);
    border-radius: 2px;
    width: 300px;  
    margin: 0 1rem 1rem 1rem;
}

.projBox .image {
    width: 100%;
    object-fit:cover;
    object-position: center center;
    border-radius: 2px;
}

.projBox span {
    background: royalblue;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0.4rem 0.2rem 0rem 0.2rem;
    display: inline-block;
}
  
.projBox a{
    color: #fff;
    text-decoration: none;
    background: dodgerblue;
    border-radius: 0.2rem;
    padding: 0.5rem;
    transition: all 0.3s ease 0s;
    display:inline-block;
    margin: 0.4rem 0 0.4rem 0;
    width: 6rem;
}

.projBox > a:hover {
    color: black;
    font-weight: bold;
}

@media (min-width: 300px){ 
  
}

/*.todo-fb-img{
    background: url("../images/todo-fb-img.png") no-repeat;
    background-size:100%;
    object-fit: cover;
    background-position: center center;
    height: 250px;
    margin-bottom: 6px;
    border-radius: 2px;
}

.todo-react-img{
    background: url("../images/todo-react-img.png") no-repeat;
    background-size:100%;
    object-fit: cover;
    background-position: center center;
    height: 250px;
    margin-bottom: 6px;
    border-radius: 2px;
}


.todo-js-img{
    background: url("../images/todo-js-img.png") no-repeat;
    background-size:100%;
    object-fit: cover;
    background-position: center center;
    height: 250px;
    margin-bottom: 6px;
    border-radius: 2px;
}*/